<footer class="footer" id="contacts">
	<div class="container">

		<!-- wrapper -->
		<div class="footer__wrap">
			
			<!-- top -->
			<div class="footer__top">
				<ul class="footer__nav">
					<li><a href="#" title="Услуги">Услуги</a></li>
					<li><a href="#" title="Портфолио">Портфолио</a></li>
					<li><a href="#" title="О нас">О нас</a></li>
					<li><a href="#" title="Тарифы">Тарифы</a></li>
					<!-- <li><a href="#" title="Отзывы">Отзывы</a></li> -->
					<li><a href="#" title="Контакты">Контакты</a></li>
				</ul>
				<ul class="footer__contact">
					<li><a href="tel:+998990050300">+998 (90) 005-03-00</a></li>
					<li><a target="_blank" href="#">Telegram</a></li>
					<li><a target="_blank" href="#">Instagram</a></li>
				</ul>
			</div>

			<!-- center -->
			<div class="footer__center">
				<div class="footer__logo">
					<img src="assets/img/weebuildblack.png" alt="">
				</div>
			</div>

			<!-- bottom -->
			<div class="footer__bottom">
				<p>Copyright ©2025</p>
				<span>Разработал - <a target="_blank" href="https://xakoch.uz?utm_source=weebuild">XAKOCH</a></span>
			</div>

		</div>
	</div>
</footer>