	<!-- header -->
	<header class="header">
		<div class="container">
			<div class="header__wrap">
				<a href="home.html" class="logo">
					<div class="logo-left">
						<img src="assets/img/logo.svg" alt="">
					</div>
					<div class="logo-right">
						<img src="assets/img/logo-text.svg" alt="">
					</div>
				</a>
				<nav>
					<ul>
						<li><a href="#services">Услуги</a></li>
						<li><a href="#projects">Проекты</a></li>
						<li><a href="#about">О нас</a></li>
						<li><a href="#contacts">Контакты</a></li>
					</ul>
				</nav>
				<div class="cta">
					<a class="cta__tel" href="tel:+998990050300">+998 (99) 005-03-00</a>
					<div class="lang">
						<a class="lang-item lang-item-active" href="#">RU</a>
						<span class="vertical-divider"></span>
						<a class="lang-item" href="#">UZ</a>
					</div>
				</div>
				<button class="burger">Меню
					<!-- <span class="burger--lines">
						<span></span>
						<span></span>
					</span> -->
					<!-- <span>Меню</span> -->
				</button>
			</div>
		</div>
	</header>
	<!-- ./header -->

	<!-- header mobile -->
	<div class="mobile__menu">
		<div class="mobile__menu--inner">
			<div class="mobile__menu--group">
				<div class="mobile__menu--title">Навигация</div>
				<ul class="header__nav">
					<li><a href="#services">Услуги</a></li>
					<li><a href="#projects">Проекты</a></li>
					<li><a href="#about">О нас</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
			</div>
			<div class="mobile__menu--footer">
				<div class="mobile__menu--group">
					<div class="mobile__menu--title">Номер телефона</div>
					<a class="mobile__menu--tel" href="tel:+9999999999">+998 (71) 200 13-13</a>
				</div>
				<div class="mobile__menu--group">
					<div class="lang">
						<a class="lang-item lang-item-active" href="#">🇷🇺 RU</a>
						<a class="lang-item" href="#">🇺🇿 UZ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ./header mobile -->

	<button class="burger__close">Закрыть</button>