<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <!-- favicon -->
    <meta name="msapplication-TileColor" content="#CDBB46">
    <meta name="theme-color" content="#CDBB46" />
    <meta name="format-detection" content="telephone=no" />
    <!-- style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="all" href="assets/css/style.min.css" />
</head>
<body>

    {{> body }}

    <!-- <a class="back" href="/">back to all pages</a> -->
    <!-- END content -->

    <div class="modal modal__price" id="modal1">
        <div class="modal__inner">
            <div class="modal__head">
                <div class="modal__title">Тариф - Преимум</div>
                <button class="modal__close" data-modal-close="">✕</button>
            </div>
            <div class="modal__content">
                <div class="modal__scroll">
                    <div class="modal__price-list">
                        <div class="modal__price-item">
                            <p>Шпаклевка</p>
                            <span>Eleron</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Родбэнд</p>
                            <span>Eleron</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Кафельный клей</p>
                            <span>Knauf</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Гипсокартон</p>
                            <span>Volma</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Цемент</p>
                            <span>Турон 500</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Гидроизаляция</p>
                            <span>Ventum</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Профиль толщина</p>
                            <span>0,4 мм</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Рейки</p>
                            <span>Россия</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Кафель</p>
                            <span>Индия, 60x60, 120x60</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Пол</p>
                            <span>Ламинат Италия 8-10 мм</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Тяги</p>
                            <span>Гипс</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Краска</p>
                            <span>Dyo</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Плинтус</p>
                            <span>Пластик Россия</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Обои</p>
                            <span>Средней ценовой категории</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Сантехника</p>
                            <span>Vero</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Унитаз</p>
                            <span>Coco</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Смеситель</p>
                            <span>Bau</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Регистр</p>
                            <span>Akfa</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Теплый пол</p>
                            <span>Herz</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Электроустановочные изделия</p>
                            <span>Panasonic</span>
                        </div>
                        <div class="modal__price-item">
                            <p>Электропроводка</p>
                            <span>Uzcabel</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal__overlay"></div>
    </div>

    <div class="modal modal__feedback" id="modal2">
        <div class="modal__inner">
            <div class="modal__head">
                <div class="modal__title">Оставьте заявку <br> на консултацию</div>
                <button class="modal__close" data-modal-close="">✕</button>
            </div>
            <div class="modal__content">
                
            </div>
        </div>
        <div class="modal__overlay"></div>
    </div>

    <div class="overlay"></div>

    <a class="call_fix" href="tel:+998782001313">
        <span>📞</span>
        <span>Позвонить</span>
    </a>

    <!-- BEGIN scripts -->
    <script defer type="text/javascript" src="assets/js/lib.min.js"></script>
    <script defer type="text/javascript" src="assets/js/app.min.js"></script>
    <!-- END scripts -->

</body>
</html>